<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome!</title>
</head>
<body>
    <html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for booking a flight with PN Airlines, <%= @passenger.name %>!</h1>
    <p>
      Your flight will depart soon from <%= @flight.departure_airport.name %> to <%= @flight.arrival_airport.name %>.
    </p>
    <p>Thanks for deciding to fly and have a great day!</p>
  </body>
</html>
</body>
</html>